doctype html
html
  head
    title Main
    link(href='../css/test.less', rel='stylesheet')
    script(src='../../node_modules/angular/angular.js')
    script(src='../index.js')
    script(src='../controllers/dashboards_controller.js')

    block head
  body
    .content-wrap
      block body
